.cproject
.project
.settings/

/Debug/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Automake and Libtool stuff
autom4te.cache/
.deps
.libs
.dirstamp
Makefile

# Docs
/docs/doxygen
/docs/sphinx
