# IDE configurations
.cproject
.project
.settings/
.vscode

/doc

/parser/deckgrammar.c
/parser/deckgrammar.h
/parser/deckgrammar.out
/parser/deckscanner.c
/parser/lemon
!/parser/Makefile

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
DartConfiguration.tcl
build/


# Compiled Object files
*.slo
*.lo
*.o
*.obj
/schnek_tests

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/src/config.hpp

# Docs
/docs/doxygen
/docs/sphinx
